@layer tokens, base, typography, layout, components, utilities, page;

@layer tokens {
  :root {
    color-scheme: light dark;
    --font-body: system-ui, -apple-system, serif;
    --font-heading: system-ui, -apple-system, serif;
    --fs-h1: clamp(8rem, 10vw, 7rem);
    --fs-h2: clamp(7rem, 9vw, 6rem);
    --fs-h3: clamp(6rem, 8vw, 5rem);
    --fs-h4: clamp(5rem, 7vw, 4rem);
    --fs-h5: clamp(4rem, 6vw, 3rem);
    --fs-h6: clamp(3rem, 5vw, 2rem);
    --fs-body: 1.8rem;
    --fs-small: 1.6rem;
    --fw-heading: 500;
    --fw-body: 400;
    --lh-heading: 1.2em;
    --lh-body: 1.4em;
    --color-black: #000;
    --color-white: #fff;
    --sec-margin: 9rem;
    --sec-padding: 9rem;
    --cta-padding: 2rem 4rem;
    --container: 1440px;
    --container-spacing: 2rem;
    --screen-laptop: 1336px;
    --screen-tablet: 1036px;
    --screen-mob-lg: 767px;
    --screen-mob: 540px;
    --transition: all 0.3s ease-in-out;
  }

  :root[data-theme="light"] {
    --color-background: #F5F5F0;
    --color-foreground: #2F3F52;
    --color-primary: #395164;
    --color-accent: #D0BD96;
    --color-transparent: transparent;
  }

  :is(:root[data-theme="dark"], :root:has(#theme-toggle:checked)) {
    --color-background: #0f172a;
    --color-foreground: #e2e8f0;
    --color-primary: #60a5fa;
    --color-accent: #fbbf24;
    --color-transparent: transparent;
  }
}

@layer base {
  :where(*, *::before, *::after) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
  }
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--fs-body);
    font-family: var(--font-body);
    font-weight: var(--fw-body);
    line-height: var(--lh-body);
    background-color: var(--color-background);
    color: var(--color-foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  main {
    display: block;
  }
  a {
    font-size: var(--fs-body);
    text-decoration: none;
    color: inherit;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border-style: none;
  }
  :where(ul, ol) {
    list-style: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: button;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    text-transform: none;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input {
    border: 0;
    outline: none;
  }
  [hidden] {
    display: none;
  }
}

@layer typography {
  :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-weight: var(--fw-heading);
    line-height: var(--lh-heading);
    font-family: var(--font-heading);
  }
  h1, .h1 { font-size: var(--fs-h1); }
  h2, .h2 { font-size: var(--fs-h2); }
  h3, .h3 { font-size: var(--fs-h3); }
  h4, .h4 { font-size: var(--fs-h4); }
  h5, .h5 { font-size: var(--fs-h5); }
  h6, .h6 { font-size: var(--fs-h6); }
  .text-small { font-size: var(--fs-small); }
}

@layer layout {
  .container-full { width: 100%; }
  .container {
    max-width: min(calc(100% - var(--container-spacing)) , var(--container));
    width: 100%;
    margin-inline: auto;
  }
  .container-left {
    width: 100%;
    padding-inline-start: max((100% - var(--container)) / 2, var(--container-spacing));
  }
  .container-right {
    width: 100%;
    padding-inline-end: max((100% - var(--container)) / 2, var(--container-spacing));
  }

  /* Note: use either flex structure or grid structure */

  /* ===== Flex Layout ===== */
  .row { display: flex; }
  [class^="col-"] { flex-grow: 0; }
  .col-1  { width: calc(100% * 1 / 12); }
  .col-2  { width: calc(100% * 2 / 12); }
  .col-3  { width: calc(100% * 3 / 12); }
  .col-4  { width: calc(100% * 4 / 12); }
  .col-5  { width: calc(100% * 5 / 12); }
  .col-6  { width: calc(100% * 6 / 12); }
  .col-7  { width: calc(100% * 7 / 12); }
  .col-8  { width: calc(100% * 8 / 12); }
  .col-9  { width: calc(100% * 9 / 12); }
  .col-10 { width: calc(100% * 10 / 12); }
  .col-11 { width: calc(100% * 11 / 12); }
  .col-12 { width: 100%; }
  @media screen and (min-width: 768px) {
    .col-tab-1  { width: calc(100% * 1 / 12); }
    .col-tab-2  { width: calc(100% * 2 / 12); }
    .col-tab-3  { width: calc(100% * 3 / 12); }
    .col-tab-4  { width: calc(100% * 4 / 12); }
    .col-tab-5  { width: calc(100% * 5 / 12); }
    .col-tab-6  { width: calc(100% * 6 / 12); }
    .col-tab-7  { width: calc(100% * 7 / 12); }
    .col-tab-8  { width: calc(100% * 8 / 12); }
    .col-tab-9  { width: calc(100% * 9 / 12); }
    .col-tab-10 { width: calc(100% * 10 / 12); }
    .col-tab-11 { width: calc(100% * 11 / 12); }
    .col-tab-12 { width: 100%; }
  }
  @media screen and (min-width: 1036px) {
    .col-lap-1  { width: calc(100% * 1 / 12); }
    .col-lap-2  { width: calc(100% * 2 / 12); }
    .col-lap-3  { width: calc(100% * 3 / 12); }
    .col-lap-4  { width: calc(100% * 4 / 12); }
    .col-lap-5  { width: calc(100% * 5 / 12); }
    .col-lap-6  { width: calc(100% * 6 / 12); }
    .col-lap-7  { width: calc(100% * 7 / 12); }
    .col-lap-8  { width: calc(100% * 8 / 12); }
    .col-lap-9  { width: calc(100% * 9 / 12); }
    .col-lap-10 { width: calc(100% * 10 / 12); }
    .col-lap-11 { width: calc(100% * 11 / 12); }
    .col-lap-12 { width: 100%; }
  }
  @media screen and (min-width: 1336px) {
    .col-desk-1  { width: calc(100% * 1 / 12); }
    .col-desk-2  { width: calc(100% * 2 / 12); }
    .col-desk-3  { width: calc(100% * 3 / 12); }
    .col-desk-4  { width: calc(100% * 4 / 12); }
    .col-desk-5  { width: calc(100% * 5 / 12); }
    .col-desk-6  { width: calc(100% * 6 / 12); }
    .col-desk-7  { width: calc(100% * 7 / 12); }
    .col-desk-8  { width: calc(100% * 8 / 12); }
    .col-desk-9  { width: calc(100% * 9 / 12); }
    .col-desk-10 { width: calc(100% * 10 / 12); }
    .col-desk-11 { width: calc(100% * 11 / 12); }
    .col-desk-12 { width: 100%; }
  }

  /* ===== Grid Layout ===== */
  .row { display: grid; }
  .col-1 { grid-column: span 1; }
  .col-2 { grid-column: span 2; }
  .col-3 { grid-column: span 3; }
  .col-4 { grid-column: span 4; }
  .col-5 { grid-column: span 5; }
  .col-6 { grid-column: span 6; }
  .col-7 { grid-column: span 7; }
  .col-8 { grid-column: span 8; }
  .col-9 { grid-column: span 9; }
  .col-10 { grid-column: span 10; }
  .col-11 { grid-column: span 11; }
  .col-12 { grid-column: span 12; }
  @media screen and (min-width: 768px) {
    .col-tab-1 { grid-column: span 1; }
    .col-tab-2 { grid-column: span 2; }
    .col-tab-3 { grid-column: span 3; }
    .col-tab-4 { grid-column: span 4; }
    .col-tab-5 { grid-column: span 5; }
    .col-tab-6 { grid-column: span 6; }
    .col-tab-7 { grid-column: span 7; }
    .col-tab-8 { grid-column: span 8; }
    .col-tab-9 { grid-column: span 9; }
    .col-tab-10 { grid-column: span 10; }
    .col-tab-11 { grid-column: span 11; }
    .col-tab-12 { grid-column: span 12; }
  }
  @media screen and (min-width: 1036px) {
    .col-lap-1 { grid-column: span 1; }
    .col-lap-2 { grid-column: span 2; }
    .col-lap-3 { grid-column: span 3; }
    .col-lap-4 { grid-column: span 4; }
    .col-lap-5 { grid-column: span 5; }
    .col-lap-6 { grid-column: span 6; }
    .col-lap-7 { grid-column: span 7; }
    .col-lap-8 { grid-column: span 8; }
    .col-lap-9 { grid-column: span 9; }
    .col-lap-10 { grid-column: span 10; }
    .col-lap-11 { grid-column: span 11; }
    .col-lap-12 { grid-column: span 12; }
  }
  @media screen and (min-width: 1336px) {
    .col-desk-1 { grid-column: span 1; }
    .col-desk-2 { grid-column: span 2; }
    .col-desk-3 { grid-column: span 3; }
    .col-desk-4 { grid-column: span 4; }
    .col-desk-5 { grid-column: span 5; }
    .col-desk-6 { grid-column: span 6; }
    .col-desk-7 { grid-column: span 7; }
    .col-desk-8 { grid-column: span 8; }
    .col-desk-9 { grid-column: span 9; }
    .col-desk-10 { grid-column: span 10; }
    .col-desk-11 { grid-column: span 11; }
    .col-desk-12 { grid-column: span 12; }
  }
}

@layer components {
  .cta {
    padding: var(--cta-padding);
    display: inline-block;
    line-height: 1.4em;
    font-size: var(--fs-small);
    font-weight: 400;
    border: 1px solid;
    max-width: fit-content;
  }
  .cta:is(.cta-primary, [data-variant="primary"]) {
    background-color: var(--color-primary);
    border-color: var(--color-black);
    color: var(--color-white);
  }
  .cta:is(.cta-outline, [data-variant="outline"]) {
    background-color: var(--color-transparent);
    border-color: var(--color-black);
    color: var(--color-black);
  }
  .cta:hover {
    background-color: var(--color-accent);
    color: var(--color-black);
    border-color: var(--color-accent);
  }
  .sec-padding { padding-block: var(--sec-padding); }
  .sec-margin { margin-block: var(--sec-margin); }
}

@layer utilities {
  .bg-foreground { background-color: var(--color-foreground); }
  .bg-background { background-color: var(--color-background); }
  .bg-primary { background-color: var(--color-primary); }
  .bg-accent { background-color: var(--color-accent); }
  .bg-black { background-color: var(--color-black); }
  .bg-white { background-color: var(--color-white); }
  .bg-transparent { background-color: var(--color-transparent); }

  .text-foreground { color: var(--color-foreground); }
  .text-background { color: var(--color-background); }
  .text-primary { color: var(--color-primary); }
  .text-accent { color: var(--color-accent); }
  .text-black { color: var(--color-black); }
  .text-white { color: var(--color-white); }
  .text-transparent { color: var(--color-transparent); }
}

@layer page {
  /* ===== Mobile First (Default) ===== */

  /* ===== Tablet and Up ===== */
  @media screen and (min-width: 768px) { }

  /* ===== Laptop and Up ===== */
  @media screen and (min-width: 1036px) { }

  /* ===== Desktop and Up ===== */
  @media screen and (min-width: 1336px) { }

  /* ===== Desktop XL and Up ===== */
  @media screen and (min-width: 1440px) { }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}